.menu {
position: fixed;
background: black;
width: 100%;
margin-top: 0px;
top: 0px;
z-index: 10;
}

.links {
display: inline;
padding-left: 33px;
padding-right: 25px;
font-family: fantasy;
font-size: 20px;
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.heading {
    font-style: italic;
}

.youtube_title {
    text-decoration: underline;
}
